html {
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px
    
}

.bgstart {
    background-image: url("/WU-springProject/img/gallery1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70vh;
    
}



.baitscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(83, 52, 52, 0.3);
}


.saloonbtn {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(290deg, #683943, #7f544c);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 4px 10px rgba(255, 65, 108, 0.3);
}

.saloonbtn:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 15px rgba(69, 69, 69, 0.5);
}

.saloonbtn:active {
    transform: scale(0.8);
}


nav {
    height: 100vh;
    width: 100vw;
    background-image: url("/WU-springProject/img/gallery0.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80vh;
}


#navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    gap: 5vh; 
}


.nav-large-box {
    width: 80vw;
    height: 15vh;
    background: linear-gradient(290deg, #683943, #7f544c);
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 8px;
    margin-bottom: 5vh;
    box-shadow: 2vw 2vw 2vw rgba(0, 0, 0, 0.5);
}




.nav-small-box {
    width: calc(100vw - 30vw);
    height: 10vh;
    background: linear-gradient(290deg, #683943, #7f544c);
    box-shadow: 2vw 1vw 2vw rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: 2vw 1vw 2vw rgba(0, 0, 0, 0.5);
}
